
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <form action="/home/Login">
            <label >شماره حساب: </label>
            <input name="AcountNumber" type="text">
            <br>
            <label >Password: </label>
            <input name="pass" type="password">
            <br>
            <button type="submit" class="btn btn-success">Send</button>
        </form>
        
    </p>
</div>
