
<table class="w-100" style="border: 2px solid blue;">
    <tr>
        <th>شماره حساب</th>
        <th>موجودی</th>
    </tr>
    <tr>
        <td>@ViewBag.mojod.AcountNumber</td>
        <td>@ViewBag.mojod.Mojodi</td>
    </tr>
</table>
