<div style="padding-left: 25%;">
<a href="/home/bardasht" class="btn btn-success m-3">برداشت</a>
<a href="/home/variz" class="btn btn-danger m-3">واریز</a>
<a href="/home/changepass" class="btn btn-warning m-3">تغییر رمز</a>
<a href="/home/mojodi" class="btn btn-info m-3">موجودی</a>
</div>
